<div class="card">
    <div class="card-header">
        <div class="row">
            <p class="col">
                <b>Name: </b>
                {{brand.name}}</p>
            <div class="col">
                <button class="col btn btn-warning" (click)="update()"> <i class="fa fa-edit"></i></button>   
            
                <button class="col btn btn-danger" (click)="destroy()"> <i class="fa fa-trash-alt"></i></button>  
            </div>
        </div>
        
    </div>
</div>