
<div class="row">
    <h2 class="col">Car Details</h2> 
    <button class="col mr-5 btn btn-secondary" (click)=cleannew()> Clean & New</button>
</div>
<hr>
<form action="" method="post">
    <input type="hidden" name="id" [(ngModel)]="car.id">
    <input type="hidden" name="brand_id" [(ngModel)]="car.brand_id">

    <div class="form-group">
        <label for="name">Name</label>
        <input type="text"
            class="form-control" name="name" [(ngModel)]="car.name"  placeholder=""
            value="{{car.name}}"
            >
        <b id="helpId" class="form-text text-danger">{{error.name}}</b>
        
    </div>
    <button type="submit" class="btn btn-primary" (click)=updatemodel() >Submit</button>
    
</form>

