<!-- <select (select)="setBrand()"  class="form-control"> -->
<select class="form-control" [ngModel]="selectedbrand" (ngModelChange)="setBrand($event)" name="selectbrand">

    <option [disabled]="true" [selected]="true">Select Option</option>
    <option *ngFor="let item of brands" [ngValue]="item"> {{item.name}}</option>
</select>