
<div class="row">
    <h2 class="col">Brand Details</h2> 

    <button class="col mr-5  btn btn-secondary" (click)=cleannew()> Clean & New</button>
</div>
<hr>
<form action="" method="post">
    <input type="hidden" name="id" [(ngModel)]="brand.id">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text"
            class="form-control" name="name" [(ngModel)]="brand.name"  placeholder=""
            value="{{brand.name}}"
            >
        <b id="helpId" class="form-text text-danger">{{error.name}}</b>
        
    </div>
    <button type="submit" class="btn btn-primary" (click)=updatemodel() >Submit</button>
    
</form>

