
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Brands</a>
    <auth-logout class="ml-auto" *ngIf="authorized" (logoutResponse)="authorize($event)" ></auth-logout>
  </nav>
<ng-container *ngIf="authorized;else loginform">
  <div class="container-fluid">
    <h1>Brands</h1>
    <hr>
    <div class="row">
      <div class="col-12 col-md-4 ">
        <brand-editor
        [clean]=clean
        (sendBrand)="setDown($event)" [brand]=brand></brand-editor>
      </div>
      <div class="col">
        <h2>Brand List</h2>
        <hr>
        <brand-list class="row" [brand]=current 
        (deleteBrand)="deleteBrand()"
        (sendBrand)="setBrand($event)"></brand-list>
      </div>
    </div>
    <hr>
    <h1>Cars</h1>
    <hr>
    <div class="row">
      <div class="col-12 col-md-4 ">
        <h2>Brand Select</h2>
        <brand-selector (sendBrand)=setBradforcars($event) ></brand-selector>
        <hr>
        <car-editor *ngIf="currentbrandforcars"
          [clean]=cleancar
          [currentBrand]=currentbrandforcars
          (sendCar)="setDownCar($event)" [car]=car></car-editor>
      </div>
      <div class="col">
        <h2>Car List</h2>
        <hr>
        <car-list class="row"
        [currentBrand]=currentbrandforcars
        [car]=currentcar 
        (deleteCar)="deleteCar()"
        (sendCar)="setCar($event)"></car-list>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #loginform>
  <div class="container">
    <auth-login (loginResponse)="authorize($event)"></auth-login>
  </div>
</ng-template>

