<div class="col-md-4 offset-md-4 col-12  ">

    <div class="card mt-4">
        <div class="card-header"><h2 class="text-muted">login</h2></div>
        <div class="card-body">
            <small id="errorgeneral" class="form-text text-danger">{{error.general}}</small>
    
            <form action="" method="post">
                <div class="form-group">
                  <label for="mail">Mail</label>
                  <input type="text" [(ngModel)]="mail"
                    class="form-control" name="mail" id="mail" aria-describedby="errormail" placeholder="Mail">
                  <small id="errormail" class="form-text text-danger">{{error.email}}</small>
                </div>
            
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" [(ngModel)]="pass"
                    class="form-control" name="password" id="password" aria-describedby="errorpass" placeholder="Password">
                  <small id="errorpass" class="form-text text-danger">{{error.pass}}</small>
                </div>
            
                <input class="btn btn-primary" type="submit" (click)=login() value="submit">
            </form>
        </div>
    </div>
</div>